body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #f4f4f4;
  color: #9c9c9c;
}
.container {
  max-width: 900px;
  background: #ffffff8f;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-container {
  position: relative;
  border-top: 14px solid #d9534f;
  border-bottom: 10px solid #d9534f;
}
.container.main-container:after {
  content: "";
  background: #f3f3f3cf;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}
.profile-img {
  width: 170px;
  border-radius: 50%;
  object-fit: cover;
  outline: 1px solid #d9534f;
  outline-offset: 7px;
} 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 42px;
}
.title-info {
  padding-left: 24px;
  padding-top: 34px;
}
.contact-info {
  font-size: 14px;
}
h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  color: #686868;
  font-size: 32px;
  letter-spacing: 8px;
}
.sub-title {
  font-size: 14px;
  color: #d9534f;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 8px;
}
p.sub-title:after {
  height: 3px;
  width: 20%;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: gray;
}
.title-info a {
  color: #d9534f;
  text-decoration: none;
}
.section-title:before {
  position: absolute;
  content: "+";
  left: -19px;
  font-size: 19px;
  font-weight: 100;
  font-family: math;
  color: #d9534f;
}
.section-title:after {
  height: 3px;
  width: 65px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: #d9534f;
}
.section-title {
  font-size: 18px;
  font-weight: bold;
  color: #525252;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 5px;
  margin-bottom: 12px;
  position: relative;
  text-align: left;
}
ul {
  padding-left: 20px;
}
.body {
  padding: 0 35px;
}
.contact-info p {
  margin-bottom: 0;
}
.contact-info a {
  color: gray;
  text-decoration: none;
}
.contact-info .section-title:after {
  width: 40px;
}
.highlighter {
  color: #d9534f;
  font-weight: 700;
}
.job-company a {
  color: #b2b2b2;
  text-decoration: none;
  font-style: italic;
}
.job-header {
  display: flex;
  justify-content: space-between;
}
h5 {
  color: #d9534f;
  font-size: 20px;
  font-weight: 200;
}
.job-date {
  font-weight: 100;
}
.education-info {
  margin-bottom: 20px;
}
.education-info h5 {
  font-size: 18px;
}
.education-info h5 span {
  color: #9c9c9c;
  font-size: 16px;
}
.footer-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-top: 45px;
}
.footer-section.reference {
  width: 244px;
}
@media only screen and (max-width: 670px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-info {
    margin-top: 30px;
    margin-left: 36px;
  }
  .main-container {
    max-width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 580px) {
  .footer-container {
    flex-direction: column;
  }
}



